.line{
    background-color: lightgray;
    width: 2px;
    height: 100%;
    position: absolute;
    display: none;
    z-index: -1;
    left: 45%;
    border-radius: 15px !important;
    transform: translate(-50%, 0);
}
